* {
  font-family: monospace;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-section {
  display: flex;
  flex: 1;
}

.left-sidebar, .right-sidebar {
  flex: 1;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playlist {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.current-track {
  margin-bottom: 20px;
}

.player {
  margin-bottom: 20px;
}

.album {
  display: inline-block;
  padding-right: 1em;
}

.bottom-section {
  flex: 2;
  overflow-y: auto;
}

.next-tracks ul {
  list-style-type: none;
  padding: 0;
}

.next-tracks li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.next-tracks li:last-child {
  border-bottom: none;
}

.song {
  margin-left: 10px;
}

.sidebar-track {
  text-align: center;
}

.sidebar-track img {
  width: 80px;
  height: 80px;
}

.artist-name,
.track-name,
.album-name {
  font-weight: bold;
}