* {
  font-family: monospace;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #0000ff;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-section {
  display: flex;
  flex: 1;
}

.left-sidebar, .right-sidebar {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playlist {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.current-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.player {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.album {
  display: inline-block;
  padding-right: 1em;
}

.bottom-section {
  flex: 2;
  overflow-y: auto;
}

.tracks-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  color: #ff6dce;
}

.track-container {
  border: 1px solid #0000ff;
  padding: 10px;
  border-radius: 5px;
}

.next-tracks .artist,
.next-tracks .album,
.next-tracks .song {
  margin: 5px 0;
}

.sidebar-track {
  text-align: center;
}

.sidebar-track img {
  width: 80px;
  height: 80px;
}

.artist-name,
.track-name,
.album-name {
  font-weight: bold;
  margin: 15px 0;
}

.track-name {
  margin-top: 30px;}


h1 {
  padding-top: 20px;
  padding-left: 20px;
  color: #ff6dce;
}

h2 {
  text-align: center;
}